* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: #fff;
    background: url(../img/back.png) no-repeat center center fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
}

/*TRANSITIONS*/
a,
input[type="submit"],
a img, button {
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
a:hover,
input[type="submit"]:hover,
a:hover img, button:hover {
    -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

/*OTHER STYLES*/
img {cursor: pointer; border:1px solid #fff;}
img:hover {outline: 3px solid #fff;}
h2 {width: 100%; font-size: 24px; font-weight: 700; border-bottom: 1px solid #fff; text-transform: uppercase;}
.rec-data {
    background: url(../img/bg-rec.jpg) repeat center center;
}
.words {
    font-style: italic;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}
ul {
    text-align: center;
    list-style-position: inside;
}

/*END*/
