@font-face {
    font-family: 'PT Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PT_Sans/PTSans-Regular.eot');
    src: url('../fonts/PT_Sans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PT_Sans/PTSans-Regular.woff2') format('woff2'),
       url('../fonts/PT_Sans/PTSans-Regular.woff') format('woff'),
       url('../fonts/PT_Sans/PTSans-Regular.ttf')  format('truetype'), 
       url('../fonts/PT_Sans/PTSans-Regular.svg#svgFontName') format('svg');
}
@font-face {
    font-family: 'PT Sans Italic';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/PT_Sans/PTSans-Italic.eot');
    src: url('../fonts/PT_Sans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PT_Sans/PTSans-Italic.woff2') format('woff2'),
       url('../fonts/PT_Sans/PTSans-Italic.woff') format('woff'),
       url('../fonts/PT_Sans/PTSans-Italic.ttf')  format('truetype'), 
       url('../fonts/PT_Sans/PTSans-Italic.svg#svgFontName') format('svg');
}
@font-face {
    font-family: 'PT Sans Bold';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/PT_Sans/PTSans-Bold.eot');
    src: url('../fonts/PT_Sans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PT_Sans/PTSans-Bold.woff2') format('woff2'),
       url('../fonts/PT_Sans/PTSans-Bold.woff') format('woff'),
       url('../fonts/PT_Sans/PTSans-Bold.ttf')  format('truetype'), 
       url('../fonts/PT_Sans/PTSans-Bold.svg#svgFontName') format('svg');
}