* {
    margin: 0px;
    padding: 0px;
}
html {

}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:#f8e8c9;
}

/*TRANSITIONS*/
a,
input[type="submit"],
a img, button {
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
a:hover,
input[type="submit"]:hover,
a:hover img, button:hover {
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

/*END*/
