.col-1 {
    width: 8.33%;
    flex: 0 0 8.33%;
    max-width: 8.33%;
}
.col-2 {
    width: 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
.col-3 {
    width: 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    width: 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-5 {
    width: 41.66%;
    flex: 0 0 41.66%;
    max-width: 41.66%;
}
.col-6 {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    width: 58.33%;
    flex: 0 0 58.33%;
    max-width: 58.33%;
}
.col-8 {
    width: 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.col-9 {
    width: 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    width: 83.33%;
    flex: 0 0 83.33%;
    max-width: 83.33%;
}
.col-11 {
    width: 91.66%;
    flex: 0 0 91.66%;
    max-width: 91.66%;
}
.col-12 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    [class*="col-"] {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    #header h1 {
        display: none;
    }
    .top-row {
        padding: 50px 0;
    }
    .side-container {
        display: flex;
        min-height: 100%;
    }
    input[data-function*='swipe'] {
        position: absolute;
        opacity: 0;
    }
    label[data-function*='swipe'] {
        position: absolute;
        top: 30px;
        left: 35px;
        z-index: 10000;
        display: block;
        font-size: 30px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        transform: translate3d(0, 0, 0);
        transition: transform .3s;
    }
    label[data-function*='swipe']:hover {
        color: #263249;
    }
    input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
        transform: translate3d(280px, 0, 0);
    }
    label[data-function*='swipe']:checked {
        display: block;
    }
    label:nth-child(2){
        display: none;
    }
    input[data-function*='swipe']:checked ~ label:nth-child(2){
        display: block;
        transform: translate3d(0px, 0px, 0px);
    }
    input[data-function*='swipe']:checked ~ label:nth-child(3){
        display: none;
    }
    input[data-function*='swipe']:checked ~ .sidebar {
        transform: translate3d(0px, 0px, 0px);
    }
    input[data-function*='swipe']:checked ~ .sidebar .menu li {
        width: 100%;
    }
    .sidebar {
        transform: translate3d(-100%, 0px, 0px);
        position: absolute;
        width: 100%;
        background: #263249;
        color: #eee;
        left: 0;
        height: 100%;
        transition: all .3s;
        top: 0;
    }
    .menu {
        padding: 40px 0;
    }
    .menu li {
        list-style: none;
        width: 0%;
    }
    .menu li a {
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        display: block;
        text-decoration: none;
        padding: 5px 0px 5px 0;
        margin: 0 0px 20px;
    }
    .menu li a:hover {
        text-decoration: underline;
        opacity: .5;
    }
}