.wrapper {
    position: relative;
    width: 850px;
    height: 1000px;
}
.sticky {
    width: 200px;
    height: 200px;
    position: sticky;
    top:80px;
    border:10px solid #1B75CE;
    display:inline-block;
}
.absolute {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    right: 25px;
    background: #ff0000;
}
.relative {
    width: 200px;
    height: 200px;
    position: relative;
    background: #000;
    display: inline-block;
}
.fixed {
    width: 200px;
    height: 200px;
    position: fixed;
}
.border {
    border:10px solid #1B75CE;
    display:inline-block;
}